
<% subCategories.forEach((subCategory, index) =>{
    let isExist = false;
    for(let product of products){
        if(product.subCategoryId === subCategory.id){ 
            isExist = true; 
            break;  
       }
    } 

    if(isExist){%>
        <div class="d-none d-xl-block col-xl-3 col-wd-2gdot5">
            <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                <!-- List -->
                    <!-- There were the list of all thecategories here -->
                <!-- End List -->
            </div>
            <!-- Displaying all the latest product of a subcategory -->
            <%- include('../layout/latestProductLayout', {products:products, pictures:pictures});%>
        </div>
        <div class="col-xl-9 col-wd-9gdot5">
            <div class="d-flex justify-content-between align-items-center border-bottom border-color-1 flex-lg-nowrap flex-wrap mb-4">
                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22"><%= subCategory.sub_name %></h3>
            </div>
            <ul class="row list-unstyled products-group no-gutters mb-6">
                <!-- Foreach for all the Products of this Sub-Category -->
                <%- include('../layout/productLayout1', {products:products, pictures:pictures, index:subCategory.id});%>
            </ul>
          <!-- Best Sellers -->
         <div class="mb-6 position-relative">
            <div class="d-flex justify-content-between border-bottom border-color-1 flex-md-nowrap flex-wrap border-sm-bottom-0">
                <h3 class="section-title section-title__full mb-0 pb-2 font-size-22">Best Sellers</h3>
            </div>
            <div class="js-slick-carousel position-static u-slick u-slick--gutters-1 overflow-hidden u-slick-overflow-visble pt-3 pb-3"
                data-arrows-classes="position-absolute top-0 font-size-17 u-slick__arrow-normal top-10"
                data-arrow-left-classes="fa fa-angle-left right-1"
                data-arrow-right-classes="fa fa-angle-right right-0"
                data-pagi-classes="text-center right-0 bottom-1 left-0 u-slick__pagination u-slick__pagination--long mb-0 z-index-n1 mt-4">
                
                <%- include('../layout/bestSellerLayout', {products:products, pictures:pictures, index:0, length:4});%>
                <%- include('../layout/bestSellerLayout', {products:products, pictures:pictures, index:4, length:8});%>
                <%- include('../layout/bestSellerLayout', {products:products, pictures:pictures, index:8, length:12});%>
    
            </div>
        </div>
        <!-- End Best Sellers --> 
        </div>
    <% }
     
     }) %>